*{
    margin: 0;
}
body{
    height: 100vh;
    background-image: url("img/aa.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
table{
    margin: auto;
}
table,td{
    border-collapse: collapse;
    border: 1px solid #42BFED;
}
td{
    width: 100px;
    text-align: center;
    font: normal 50px arial;
    cursor: pointer;
    user-select: none;
    height: 100px;
    background-color: wheat;
}
td img{
    width: 60px;
    height: 60px;
}

#divs{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #42BFED;
    background-color: blueviolet;
    margin: auto;
    margin-bottom: 50px;
    position: relative;


}
#divs span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: aqua;
    font-size: 55px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}